@use "../abstracts/variables" as *;

.body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

body.scroll-locked {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

div {
  display: block;
  unicode-bidi: isolate;
}